{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row mb-1">
        <div class="col">
            <h1>Find new classes</h1>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-3 text-light bg-dark mr-3">
            <h3>Category</h3>
        </div>
        <div class="col text-light bg-dark">
            <h3>Courses</h3>
        </div>
    </div>
    <div class="row mb-2 justify-content-between">
        <div class="col-3 border mr-3">
            <h2><a href="#">English</a></h2>
        </div>
        <div class="col border">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td><a href="#">First class</a></td>
                        <td><a href="#">First class</a></td>
                        <td><a href="#">First class</a></td>
                        <td><a href="#">First class</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">First class</a></td>
                        <td><a href="#">First class</a></td>
                        <td><a href="#">First class</a></td>
                        <td><a href="#">First class</a></td>
                    </tr>
                </tbody>
            </table>  
        </div>
    </div>
    <div class="row mb-2 justify-content-between">
        <div class="col-3 border mr-3">
            <h2><a href="#">Spanish</a></h2>
        </div>
        <div class="col border">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td><a href="#">First class</a></td>
                        <td><a href="#">First class</a></td>
                        <td><a href="#">First class</a></td>
                        <td><a href="#">First class</a></td>
                    </tr>
                </tbody>
            </table>  
        </div>
    </div>
</div>

{% endblock %}