{% extends 'english/base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-4 col-container" style="background-image: url({% static 'images/first_lady_and_kids.jpeg' %})">
        <a href="#">
            <h3>Get Started</h3>
        </a>
    </div>

    <div class="col-4 col-cell photo-me" style="background-image: url({% static 'images/me.jpg' %})">
        <a href="#">
            <h3>Know your Teacher</h3>
        </a>
    </div>

    <div class="col-4 col-cell"style="background-image: url({% static 'images/writing.webp' %})">
        <a href="#">
            <h3>Schedule a class</h3>
        </a>
    </div>
</div>
{% endblock %}