{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="border w-50 mx-auto mt-4 p-5 bg-white" style="border-radius: 10px;">
    <div class='row mb-3'>
        <div class="col-12">
            <h2>Sign in</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 mt-2">
                        <input type="email" class="form-control" name="email" placeholder="Email" required>
                    </div>
                    <div class="col-12 mt-2">
                        <input type="password" class="form-control" name="passwd" placeholder="Password" required>
                    </div>
                    <div class="col-6 mt-4 pt-2">
                        <a class="mt-2" href="{% url 'register' %}">Create account</a>    
                    </div>
                    <div class="col-6 mt-4">
                        <button type="submit" class="btn btn-primary float-right">Next</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>

{% endblock %}